{{> header}}
{{> navbar}}  
<br>
<br>
<h2>Acerca de mi sitio web</h2>

<div class="container">
    <div class="main row">
        <div class="col-md-6">
            <br>
            <br>
            <br>
            <br>
            <p>
                El propósito de mi página web es que conozcan más sobre mí: 
                <ul>
                    <li><b>Fecha de nacimiento: </b>21 de Agosto del 1997 </li>
                    <li><b>Colegio: </b>U.E. Paulo Sexto </li>
                    <li><b>Universidad: </b>Universidad Politécnica Salesiana</li>
                    <li><b>Carrera: </b> Ingeniería en Ciencias de la Computación </li>
                    <li><b>Banda favorita:</b> One Direction </li>
                    <li><b>Deportes que practico:</b> Gimnasia </li>
                </ul>
            </p>
        </div>
        <div class="col-md-6">
            <img src="images/yo.jpg" width="500" height="500">
        </div>
    </div>
</div>

{{> footer}}